<div style="background-color: white" class="containerd cdiv">

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8" *ngIf="isUploading">
      <app-file-upload-status> </app-file-upload-status>
    </div>
    <div class="col-2"></div>
  </div>

  <form method="POST" style="width: 100%; background-color: white" id="UploadFileForm" #UploadFileForm class="col-12">

    <!-- Input File -->
    <span class="row">
      <div class="col-2"></div>
      <span class="col-8">
        <span class="row">
          <label for="rawinput" style="text-align: center" class="col-12">Input Raw MSA </label>
          <textarea style="font-family: monospace; font-size: large; line-height: 2"
          class="form-control col-12"
          [attr.disabled]="file == null ? null : true"
          (input)="onRawInput($event)"
          id="RawFileTextArea"
          #RawFileTextArea></textarea>
        </span>
      </span>
      <div class="col-2"></div>
    </span>


    <!-- File Uploader -->
    <span class="col-12">
      <span class="row">
        <label for="fileinput" style="text-align: center" class="col-12">Upload a MSA File</label>
        <div class="col-5"></div>
        <input ng2FileSelect
        class="col-2"
        type="file"
        [uploader]="uploader"
        id="fileinput"
        [attr.disabled]="raw_content == '' ? null : true"
        (input)="onInput($event)" />
        <div class="col-5"></div>
      </span>
    </span>

    <span class="col-12">
      <span class="row">
        <div class="col-2"></div>
        <!-- Clear Button -->
        <div style="padding: 5px" class="col-4">
          <button
          type='button'
          class="btn btn-danger"
          style="text-align: center; display: block;margin-left: auto;margin-right: auto;"
          (click)="resetForm();"
          [attr.disabled]="file == null && raw_content == '' ? true : null"> Clear File</button>
        </div>


        <!-- Submit button -->
        <div style="padding: 5px" class="col-4">
          <button
          type="submit"
          class="btn btn-danger "
          style="text-align: center; display: block;margin-left: auto;margin-right: auto;"
          [attr.disabled]="file == null && raw_content == '' ? true : null"
          (click)="submit()"> Upload MSA </button>
        </div>

        <div class="col-2"></div>
      </span>
    </span>

  </form>
</div>

