<div style="background-color: bisque" class="containerd">

  <!-- Input File -->
  <form style="text-align:center; overflow:auto; width: 100%">
    <div class="form-group">
      <br><label for="fileinput" style="text-align: center" >Upload a MSA File</label>
      <!-- File Uploader -->
      <br><input ng2FileSelect type="file" [uploader]="uploader" id="fileinput" [attr.disabled]="raw_content == '' ? null : true" (input)="onInput($event)" />
      <!-- Clear Button -->
      <br [attr.hidden]="file == null ? true : null">
      <br><button type='button' class="btn btn-primary" style="text-align: center;" (click)="resetFile($event);" [attr.hidden]="file == null ? true : null"> Clear File</button>
    </div>
  </form>

  <!-- Divisor -->
  <div class="row" style="width: 100%; margin: 0 auto">
    <hr class="col-sm-4">
    <div class="col-sm-2" style="align-content: center; text-align: center">Or</div>
    <hr class="col-sm-4">
  </div>

  <!-- Raw Input -->
  <div class="row" style="overflow:auto; margin: 0 auto; float: none;">
    <label class="col-sm-12" for="rawinput" style="text-align: center" >Input Raw MSA </label>
    <div class="col-sm-2"></div>
    <textarea style="font-family: monospace; font-size: large; line-height: 2"
    class="form-control col-sm-8"
    id="rawinput"
    [attr.disabled]="file == null ? null : true"
    (input)="onRawInput($event)"></textarea>
    <div class="col-sm-2"></div>
  </div>

  <!-- Divisor -->
  <div class="row" style="width: 100%; margin: 0 auto;">
    <hr class="col-sm-10">
  </div>

  <!-- Submit button -->
  <div class="row" style="width: 100%; margin: 0 auto;">
    <div class="col-md-5 col-xs-4"></div>
    <button
    type="submit"
    class="btn btn-primary col-md-2 col-xs-4"
    style="text-align: center"
    [attr.hidden]="file == null && raw_content == '' ? true : null"
    (click)="submit()"> Upload MSA </button>
    <div class="col-md-5 col-xs-4"></div>
    <br>
  </div>
</div>
