<div style="background-color: white" class="containerd cdiv" id="destination">
  <div class="row cdiv">
    <div class="col-sm-3 cdiv" *ngFor="let elem of methods; let i = index;">
      <div class="card cdiv">
        <div class="card-body cdiv">
          <h5 class="card-title">{{ elem.name }}</h5>
          <p class="card-text">{{ elem.description }}</p>
          <button (click)="nextStep()" class="btn btn-danger"> Perfom </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row cdiv">
    <button *ngIf="stepper._activeStep != 0" (click)="stepper.prev()" class="btn btn-danger col-1"> Back </button>
  </div>
</div>


