<!-- <div id="Scroller">

</div> -->


<ngx-stepper #stepper>
  <ngx-step [label]="'Upload your MSA'">
    <app-file-input [stepper]='stepper'></app-file-input>
  </ngx-step>
  <ngx-step [label]="'Select a trimming method'">
    <app-trimming-options [stepper]='stepper'></app-trimming-options>
  </ngx-step>
  <ngx-step [label]="'Wait your result'">
    PROFIT
  </ngx-step>
</ngx-stepper>


<!-- <button *ngIf="stepper._activeStep != 0" (click)="stepper.prev()" class="btn btn-danger"> Back </button> -->

<!-- <button *ngIf="!stepper.lastStepActive" (click)="stepper.next()"> Next-> </button> -->
